*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Source Sans Pro","Calibre", "Roboto",  sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro","Calibre", "Roboto",  sans-serif;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
  border: 2px #fcf9ed solid;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ef884;
}

p {
  line-height: 1.625;
}

.conf {
  --color-bg-secondary: #273837;
  --color-bg-light: #f4f7f7;
  --color-bg-inverse: #1e2625;
  --color-text-secondary: #49544e;
  --color-text-vuegreen: #0ef884;
  --color-text-vuergreen: #03b19a;
  --color-text-lightgreen: #0ef984;
  --color-text-lightergreen: #0ef984;
  --borderRadius: 20px;
  --textColor: #898a95;
  --inputBorderColor: #bdbdbd;
}

.gb-nav {
  background: #0ef884;
}

.to-lightgreen {
  --gradient-to-color: var(--color-text-lightgreen);
}

.to-lightergreen {
  --gradient-to-color: var(--color-text-lightergreen);
}

.from-vuegreen, .from-vuergreen {
  --gradient-color-stops: var(--gradient-from-color),var(--gradient-to-color,hsla(0,0%,100%,0));
}

.from-vuergreen {
  --gradient-from-color: var(--color-text-vuergreen);
}

.from-vuegreen {
  --gradient-from-color: var(--color-text-vuegreen);
}

.text-lightgreen {
  color: var(--color-text-lightgreen);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.hover\:text-vuegreen:hover {
  color: var(--color-text-vuegreen);
}

.bg-secondary {
  background-color: var(--color-bg-secondary);
}

.bg-accordion {
  background: var(--color-text-lightgreen);
}

.text-accordion {
  color: var(--color-text-lightgreen);
}

.text-vuegreen {
  color: var(--color-text-vuegreen);
}

.custom-fill {
  fill: #0bc66a;
}

.custom-stroke {
  stroke: #0bc66a;
}

.def-stroke {
  stroke: #494949;
}

.button-bg {
  background: #0ef884;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:focus {
  outline: unset;
}

.focus\:shadow-outline:focus {
  box-shadow: 0 0 0 3px rgba(66, 251, 183, 0.5);
}

@media (max-width: 767px) {
  .custom-calc {
    top: 27rem;
    left: 25vw;
    z-index: 10;
  }
}

@media (max-width: 600px) {
  .custom-calc {
    top: 27rem;
    left: 20vw;
    z-index: 10;
  }
}

@media (max-width: 500px) {
  .custom-calc {
    top: 27rem;
    left: 16vw;
    z-index: 10;
  }
  .topBanner {
    padding-bottom: 23rem;
  }
  .secondSectAbout0 {
    margin-bottom: 20px;
  }
}

@media (max-width: 449px) {
  .custom-calc {
    top: 27rem;
    left: 12vw;
    z-index: 10;
  }
}

@media (max-width: 400px) {
  .custom-calc {
    top: 27rem;
    left: 7vw;
    z-index: 10;
  }
}

@media (max-width: 359px) {
  .custom-calc {
    top: 27rem;
    left: 6vw;
    z-index: 10;
    max-width: 18rem;
  }
}

@media (max-width: 330px) {
  .button-bg {
    display: none
  }
}

.nuxt-link-exact-active {
  color: white;
}

.custom-calc {
  font-family: monospace;
}

/*
overflow-x: hidden;
width: 80%;
         margin: auto;
padding: 0 120px;
max-width: 1440px;
font-size: 42px;
font-family: Alienware;
background-image: url(/alienware/static/grid.png),url(/static/grid.png);
background-size: 20px 20px;*/


.testLink {
  box-shadow: inset 0 -.125em 0 0 #fff,inset 0 -.375em 0 0 rgba(14,248,132,.4);
}

input:focus-visible {
  outline-offset: 0;
  outline: none;
}
