*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

html {
  font-family: "Calibre","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.conf {
  --color-bg-secondary: #273837;
  --color-bg-light: #f4f7f7;
  --color-bg-inverse: #1e2625;
  --color-text-secondary: #8c9992;
  --color-text-vuegreen: #4db879;
  --color-text-vuergreen: #03b19a;
  --color-text-lightgreen: #75c05e;
  --color-text-lightergreen: #96c93c;
}

.bg-gradient-to-r, .group:hover .group-hover\:bg-gradient-to-r {
  background-image: linear-gradient( 90deg, var(--gradient-from-color), var(--gradient-to-color, hsla(0,0%,100%,0)));
}

.to-lightgreen {
  --gradient-to-color: var(--color-text-lightgreen);
}

.to-lightergreen {
  --gradient-to-color: var(--color-text-lightergreen);
}

.from-vuegreen, .from-vuergreen {
  --gradient-color-stops: var(--gradient-from-color),var(--gradient-to-color,hsla(0,0%,100%,0));
}

.from-vuergreen {
  --gradient-from-color: var(--color-text-vuergreen);
}

.from-vuegreen {
  --gradient-from-color: var(--color-text-vuegreen);
}

.text-lightgreen {
  color: var(--color-text-lightgreen);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.hover\:text-vuegreen:hover {
  color: var(--color-text-vuegreen);
}

.bg-secondary {
  background-color: var(--color-bg-secondary);
}

.bg-accordion {
  background: var(--color-text-lightgreen);
}

.text-accordion {
  color: var(--color-text-lightgreen);
}

.text-vuegreen {
  color: var(--color-text-vuegreen);
}

